/* Set a background color */
body {
  font-family: Helvetica, sans-serif;
}

#statsTable{
  width: 60%;
  margin-left: 100px;
  border: 1px solid #ccc;
}
#statsSearch{
  margin-left: 100px;
}
h2{
  margin-left: 100px;
}
